/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

header {
  background-color:rgb(110,29,25);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================================================
  BOX SIZING & CLEARFIX
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #2e2e2e;
  color: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ============================================================
  HEADER - PRIMARY HEADER
============================================================ */
header.primary-header {
  padding: 10px 10px 10px 30px;
}
header.primary-header .logo {
  float: left;
  margin-left: -20px;
  width: 20px;
  height: 20px;
}
header.primary-header .logo img {
  display: block;
  margin: 0;
}

/* ============================================================
  NAV - PRIMARY NAV
============================================================ */
nav.primary-nav {
  float: right;
  width: 100%;
  text-align: right;
}
nav.primary-nav a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url("../img/core/icons-nav.png");
  background-image: url("../img/core/icons-nav.svg"), none;
}
nav.primary-nav .cmn-tut {
  background-position: 0 0;
}
nav.primary-nav .cmn-prev {
  background-position: -20px 0;
}
nav.primary-nav .cmn-next {
  background-position: -40px 0;
}
nav.primary-nav .cmn-download {
  background-position: -60px 0;
}
nav.primary-nav .cmn-archive {
  background-position: -80px 0;
}
nav.primary-nav .icon[data-title]:hover:after {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20px;
  content: attr(data-title);
  padding: 2px 5px;
  background-color: tomato;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}


/* ============================================================
  TEXT LEVEL SEMANTICS
============================================================ */
a {
  text-decoration: none;
  color: tomato;
}

a:hover {
  color: #ff3814;
}
