<li>
  <%= workspace.name %>
  <% if in_edit_mode %>
    <%= link_to 'Show', workspace %>
    <%= link_to 'Destroy', workspace, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>
