<h1><%= t(:'.heading', name: @workspace.name) %></h1>

<%= javascript_include_tag workspace_annotations_path(@workspace) %>
<%= mirador_tag(@workspace.mirador_options) %>

<%= link_to 'Back', workspaces_path %>
