<div id="viewer" data-workspace-update-url="<%= workspace_path(@workspace, format: :json) %>"></div>

<script>
  myMiradorInstance = Mirador(
    <%= @workspace.mirador_options.html_safe %>
  );
</script>
