
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="Mirador as a service at Stanford" name="description">

  <title>Mirador at Stanford</title>

  <!-- css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="public/css/base.css">
  <link rel="stylesheet" href="public/css/style.css">

  <!-- js -->
  <script src="js/modernizr.js"></script>
</head>
