<div id="masthead-area">
  <div class='demo-video-masthead'>
    <div class='masthead-content'>
      <%= image_tag 'mirador-logo.png' %>
      <h2 class='brand'><%= t(:application_name) %></h2>
      <p>Discover. Compare. Zoom. Annotate. Share.</p>
      <%= link_to 'Learn more', page_path('about-iiif'), class: 'btn btn-lg btn-outline-secondary' %>
    </div>
  </div>
  <video class='masthead-video' autoplay muted loop>
    <source src="https://github.com/sul-dlss/mirador_sul/blob/gh-pages/public/media/cal_island_high.mp4?raw=true" type='video/mp4'>
      Your browser doesn't support HTML5 video. Here's a <a href="#">link</a> to download the video.
  </video>
</div>

<section id="about">
  <div class="container-fluid content-area">
    <div class="row">
      <div class="col-md-6">
        <h2>Discover</h2>
        <!-- wrap the OR in a span to center before new line -->
        <p>Drag and drop the IIIF logo into a Mirador window from one of many  digital image collections on the Web.</p>
        <p class="centered"><i>OR</i></p>
        <p>Copy and paste the link to a IIIF manifest directly into Mirador.</p>
        <p class="centered"><i>OR</i></p>
        <p>Select  an item from your own collection to add to your Mirador workspace.</p>
      </div>
      <div class="col-md-6">
        <a href="http://placehold.it"><img src="http://placehold.it/600x400"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="http://placehold.it"><img src="http://placehold.it/600x400"></a>
      </div>
      <div class="col-md-6">
        <h2>Compare</h2>
        <p>Add another item to the right, to the left, above or below the current window in the workspace.</p>
        <p>Or set the workspace layout in a grid of up to 25 items with the ‘Change Layout’ option.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Zoom</h2>
        <p>Fluidly zoom into high resolution images to see fine details. </p>
      </div>
      <div class="col-md-6">
        <a href="http://placehold.it"><img src="http://placehold.it/600x400"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="http://placehold.it"><img src="http://placehold.it/600x400"></a>
      </div>
      <div class="col-md-6">
        <h2>Annotate</h2>
        <p>Select text for transcription. Pin notes to images. Draw shapes and lines to highlight areas of interest.</p>
        <p>Color, line style, and fill color are all options to help distinguish different types of annotation in a single image.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Share</h2>
        <p>Use the ‘bookmark’ to save a link to your current workspace and share it with others.</p>
        <p>Sharing a workspace is like sharing a presentation of your collection. The link will allow others to see the workspace just as you saved it, including the arrangement of windows, the zoom levels, and the annotations.</p>
      </div>
      <div class="col-md-6">
        <a href="http://placehold.it"><img src="http://placehold.it/600x400"></a>
      </div>
    </div>
  </div>
</section>
