<tr>
  <td><%= annotation.uuid %></td>
  <td><%= annotation.data %></td>
  <td><%= link_to 'Show', annotation %></td>
  <td><%= link_to 'Destroy', annotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
