
@include bg-variant('.bg-stanford', $color-cardinal-red);

.bg-stanford {
  .nav-item{
    display: inline-flex;

    .nav-link{
      color: $navbar-inverse-color;

      @include hover-focus {
        color: $navbar-inverse-hover-color;
      }
    }
  }
}
