
@include bg-variant('.bg-stanford', $color-cardinal-red);

.bg-stanford {
  .nav-item{
    display: inline-flex;

    .nav-link{
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }
    }
  }
}

.version-text {
  color: $navbar-dark-hover-color;
}

.messages {
  float: left;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;

  .alert {
    margin-bottom: 0;
    border-radius: 0;
    height: $navbar-header-height;
    padding-top: 1rem;
  }

  #message-template {
    display: none;
  }
}
