.masthead-video {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.demo-video-masthead {
  margin-top: 24%;
  text-align: center;
}

.masthead-content {
  color: #fff;
  margin-bottom: 40px;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.6);

  h2 {
    text-transform: lowercase;
  }

  .btn-outline-secondary {
    &:focus {
      color: $btn-secondary-border;
    }
  }

  @include media-breakpoint-up(md) {
    h2 {
      font-size: $font-size-h2;
    }
    font-size: $font-size-base;
  }

  @include media-breakpoint-up(lg) {
    h2 {
      font-size: $font-size-h2 * 1.5;
    }
    font-size: $font-size-base * 1.5;
  }
}
