.masthead-video {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.demo-video-masthead {
  height: 100vh;
  padding-top: 24%;
  text-align: center;
}

#about {
  background: #fff;
  padding-top: $spacer * 2;
  min-width: 100vh;
  text-align: justify;

  .centered {
    text-align: center;
  }

  img {
    width: 100%;
    box-shadow: 3px 3px 10px black;
  }

  .row {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 3;
  }
}

.masthead-content {
  color: #fff;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.6);

  .btn-outline-secondary {
    &:focus {
      color: $btn-secondary-border;
    }
  }

  @include media-breakpoint-up(md) {
    h2 {
      font-size: $font-size-h2;
    }
    font-size: $font-size-base;
  }

  @include media-breakpoint-up(lg) {
    h2 {
      font-size: $font-size-h2 * 1.5;
    }
    font-size: $font-size-base * 1.5;
  }
}
