<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="Mirador as a service at Stanford" name="description">

  <title>Mirador at Stanford</title>

  <!-- css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="public/css/base.css">

  <!-- js -->
  <script src="js/modernizr.js"></script>
</head>

<body>

<div class="wrapper">

  <header class="primary-header clearfix">
    <div class="logo">
      <a href="http://library.stanford.edu">
        <img src="public/img/core/logo.png" onerror="this.src=logo.png" alt="Mirador image viewer at Stanford University Libraries">
      </a>
    </div>
    <nav class="primary-nav">

    </nav>
  </header><!-- /.primary-header -->


  <main>
    
    <div class="container">

        {{ content }}
      </div>

  </main><!-- /main -->

  
</div><!-- /#wrapper -->



</body>
</html>
